* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f3e8e8;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

body,
html {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

a:hover {
  color: #ffa500;
}

header {
  position: fixed;
  padding: 0 2rem;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

section {
  padding: 50px 10%;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 160px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  text-align: left;
  color: #000000;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #d88f08;
}

.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about p {
  margin: 0.8rem 0 1rem;
  line-height: 1.5;
  text-align:justify;
}

.about-img img {
  max-width: 400px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.cor_link {
  color: #22419f;
}

.projects {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 10%;
}

.projects h1 {
  font-size: 2rem;
}

.projects p {
  color: #808080;
}

.content {
  flex: 1 0 auto;
  padding: 100px;
}

footer {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.social {
  display: flex;
  text-align: right;
  width: 100%;
  height: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.social .links {
  display: flex;
  gap: 2rem;
}

@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
